/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: darkslategray;
  color: white;
  transform: rotateY(180deg);
  background-image: url('http://www.univ-orleans.fr/lifo/Members/Vincent.Levorato/images/page-bg.jpg');
}

.flip-card-container {
    display: flex;
    flex-wrap: wrap;
}

.boite {
    padding: 2px;
    margin: 2px;
}

.nav-item-add {
  list-style: none;
  padding-left: 20px;
}

.nav-link-add {
    color: white;
}

.nav-link-add:hover{
    color:red;
    text-decoration: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */ 
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 15px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
margin: 50px;
}

body{
background-image: url('http://www.lapomme-design.fr/fond_mozaic.jpg?v=2efzqgkpn5qs8m')
}

.alert {
padding: 20px;
background-color: #f44336;
color: white;
}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}

h1{
color: whitesmoke;
text-align: center;
}

iframe{
display:block;
margin: 0 auto;
}

.synopsis{
color: whitesmoke;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}
.principale{
border : 2px solid black;
width: 980px;
display: block;
margin: 0 auto;
padding: 10px;
margin-top: 40px;
background-color: rgba(0, 0, 0, 0.383);
}

.button{
display: block;
margin: 0 auto;
background-color: #f44336;
color:white;
}

.pagegenre{
  margin-top: 25%;
}

.inputNumber{
  width: 100%;
  padding: 11px 5px 11px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}